
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

h3{
    font-size: 1rem;
    color: #9d6fda;
}

.info span{
    color: #9d6fda;
    border-right: white 3px solid;
    padding-right: 10px;
    animation: fade ease-in 0.7s infinite;
}

@keyframes fade{

    0%{
        border-right: rgba(255, 255, 255, 0) 3px solid;
    }
    100%{
        border-right: white 3px solid;
    }

}

section{

    position: relative;
    min-height: 80vh;
    display: flex;
    align-items: center;
    color: white;
}

#home{
    background: rgb(25,30,65);
    background: linear-gradient(180deg, rgba(25,30,65,1) 17%, rgba(42,58,96,1) 67%, rgba(94,114,164,1) 100%);
}
.info{

    text-align: left;
    position: relative;
    z-index: 2;
}
.container-sm{

    max-width: 90vw;
    /* background-color: azure; */
}

#home .container-sm{
    padding: 0 2rem;
    
}


#home svg{
    position: absolute;
    bottom: 0px;
    /* transform: translate(0, 81%); */

    z-index: 0;
}

.icons{
    display: none;

    position: absolute;
    z-index: 1;
    top: 20%;
    right: -80%;
    width: 50%;
    height: 50%;
    animation:  60s ease-in-out infinite;

   /* background-color: aliceblue; */
}

.icons .move{
    position: absolute;
    z-index: 0;
}

#html{
    top: 0;
    left: -20%;
    animation: motion 2s ease-in-out infinite;
    animation-delay: 0s;
}

#js{
    top: 10%;
    right: 0;
    animation: motion 2s ease-in-out infinite;
    animation-delay: 0.5s;
    
}

#code{
    bottom: -100%;
    left: 30%;
    animation: motion 2s ease-in-out infinite;
    animation-delay: 1s;
}

#css{
    top: -100px;
    left: 20%;
    animation: motion 2s ease-in-out infinite;
    animation-delay: 1.5s;
}



@keyframes motion{
    0%{
        transform: translate(0, 0);
    }
    50%{
        transform: translate(0, 10%);
    }
    100%{
        transform: translate(0, 0);
    }
}

@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(25deg);
    }
    75%{
        transform: rotate(-25deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

 


#about{

 
  
    flex-direction: column;
    
    padding-top: 10vh;
    background-color: #191e41;
    color: white;
}

.info p{
    font-family: Arial, Helvetica, sans-serif;
}

.info-about{

    display: flex;
    justify-content: center;
    position: relative;
    
}

#about .info{
    width: auto;
}

.my-photo{

    max-width: 100%;
    height: auto;  
    margin-bottom: 1rem;
}

#about .triangulo {
    

    margin-right: 50px;
    position: absolute;
    width: 0; 
    height: 0; 
    transform: scale(3);
    
}

.triangulo.cima{
    top: 10%;
    left: 15%;
    display: none;
    border-top: 25px solid #5386E4;
    border-right: 25px solid transparent;
    border-bottom: 25px solid transparent ;
    
   

}

.triangulo.baixo{

    bottom: 10%;
    right: 5%;
    display: none;
    border-top: 25px solid transparent ;
    border-left: 25px solid transparent;
    border-bottom: 25px solid #5386E4 ;
}



@media screen and (min-width: 768px){
    #home .container-sm{
        max-width: 40vw;
        margin-left: 10vw;
    }
    #about{
        flex-direction: row;
        min-height: 50vh;
     
        padding: 0 7vw;
    }
    
    .info-about.container-sm{
        width: 45vw;
        margin-right: 0;
    }
 
    #about.info.container-sm{
        width: 20vw;
    }
    .icons{
        display: block;
    }
    .cima , .baixo{
        display: inline-block;
    }
}



#tecnologia{

    background-color: #191e41;
    color: white;
    display: flex;
    flex-direction: column;
    padding-top:5rem;
}

#tecnologia .info h2{
    color: #9d6fda;
}

#tecnologia .card-tec{

    display: flex;
    align-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;

}


#tecnologia .card-tec h3{
    padding: 1rem;
    min-width: 5vw;
    background-color: #2a3a60;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin: 1vw;

}

.desable{

    color: rgb(168, 166, 166);

}
@media screen and (min-width: 970px){
    #tecnologia{
        flex-direction: row;
        padding-top: 10vh;
        min-height: auto;
    }
    .card-tec{
        width: 50%;
        flex: 0 0 30%;

    }
    .info{
        width: 50%;
        margin-right: 0;
    }

}

#projetos{

    background: linear-gradient(0deg, rgba(25,30,65,1) 17%, rgba(42,58,96,1) 67%, rgba(94,114,164,1) 100%);
    position: relative;
    justify-content: center;
    flex-direction: column;
}

#projetos h1{

    margin-top: 7rem;

}


#projetos .cards{
    
    width: 90vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    gap: 2rem;
    flex-wrap: nowrap;
}
#projetos a{
    color: #9d6fda;
    text-decoration: none;
}

.card{
    width: 80vw;
    margin-top: 2rem ;
    background-color:#2A3A60;
    border-radius: 10px;
    box-shadow: black 0 0 10px;
    flex-wrap: nowrap;
}

.cards:nth-child(last){
    margin-top: 7rem;
    margin-right: 0rem;
}

.cards:last-child{
    margin-bottom: 7rem;
    margin-left: 0rem;
}



.img-card{

    height: 40vh;
    width: 100%;
    background-color: #2a3a60;
    border-radius: 10px 10px 0 0;
    
    
}

.img-card img{

    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px 10px 0 0;
}

.info-card{
    color: white;
    padding: 1rem;
    height: 300px;

}

@media screen and (min-width: 700px){
    
    .card{
        width: 400px;
        height: 350px;
    }
    #projetos .cards{
        display: flex;
        flex-flow: row wrap;

    }
    .card {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      
        padding: 0;
       
       
    }

    .cards{
        margin: 0 1rem;
    }
}




footer{

    text-align: center;
    background-color:#1d2944;
    color: white;
}






/* DIVIDER */

#projetos .svgWaveOp
{
    position: absolute;
    top: 0;
    width: 100%;
}