@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap');
*{

    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{

    background-color: rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;

}

/* set containers */

/* header */
/* .header-op{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-between;
}

.options{
   
    width: 40vw;
    display: flex;
    justify-content: space-between;
}

header a{

    text-decoration: none;
    color: white;

}

header{
    width: 100vw;
    background-color: rgba(63, 62, 62, 0.534);
    height: 5vh;
    font-size: clamp(1px, 3vw, 20px);
} */
.container{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
    /* color: black; */


}

/* sectiom default */
section{
    overflow:hidden;
    min-height: 50vh;
    width: 100vw;
    background-color: rgb(199, 140, 68);
    position: relative;
    
    box-shadow: 0px -5px 10px 10px #000000;

    
}

/* home first section */

.home{

    z-index: 0;
    background-color: black;
    /* height: 70vh; */
    
    
}

.home .container{
    
    height: 100%;
    min-height:50vh;
    

    display: flex;
    flex-direction: column;
    align-items: center;
    
   
}

.home article{
    text-align: justify;
    color: black;
    background-color: white;
    z-index: 2;

    width: 70vw;

    padding: 2%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 5px;
    
   
    box-shadow: 0px 0px 26px 0px rgba(255, 255, 255, 0.671);
    -webkit-box-shadow: inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0,0,0,0);

    box-shadow: inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0,0,0,0);

}


.myPhoto{
    width: 30vw;
    border-radius: 1vw;
    margin-top: 2rem;
    z-index: 2;
}




.flowersB{
    position: absolute;
    overflow: hidden;
    z-index: 0;
    bottom: 0;
    filter: invert();
}

.flowersT{
    position: absolute;
    overflow: hidden;
    z-index: 0;
    top: 0;
    right: 0;
    filter: invert();
}





/* second section */
.sobre{

    background-color: white;
    display: flex;
}



.sobre .container{
    /* background-color: aqua; */
    max-height:max-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 3% ;

}

.sobre article{

    width: 60%;
    padding: 5%;
    margin-bottom: 10%;
    float: right;
    right: 0px;
    text-align: justify;
    background-color: white;
    border: 5px solid black;
    color: black;

}
.sobre .container{

    margin-top: 5rem;
    min-height: 100%;
    text-align: center;
    /* position: static; */
    color: black
}

.about{

    display:none;
}

.corner{

    max-height: 100%;
    max-width: 100%;
}

.corner-conteiner :nth-child(1){

    position: absolute;
    top: 0;
    left: 0;
    
}

.corner-conteiner :nth-child(2){

    position: absolute;
    transform: rotate(180deg);
    
    bottom: 0;
    right: 0;

}



/* projetos */

.projetos{

    background-color: white;
    
}

.card img{

    /* display: block; */
    width: 90%;
    

}

.card{

    
    background-color: #000000;
    padding: 2vw;
    
    width: 60vw;
    text-align: center;
    color: rgb(0, 0, 0);
    margin-top: 2vw;
    box-shadow: 0px 0px 12px 2px rgba(0,0,0,0.67);
    transition: 0.5s;
}

.projetos-card a{

    text-decoration: none;

}

.projetos-card{

    display: flex;
    justify-content:center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2%;
    margin-bottom: 2%;
    
    
}

.card:hover{

    box-shadow: 0px 0px 44px 14px rgba(0,0,0,0.5);
    transform: scale(1.01);
}


/* footer */

footer{

    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    text-align: center;
    min-height: 10vh;
    width: 100vw;
    padding: 5vh;
}